<app-menu></app-menu>
<div *ngIf="haveToken" id="main" class="container-fluid bg-ranger h-50">
    <div class="row h-75 align-items-center justify-content-center">
        <div  class="card col-md-4 opacity-75 h-75">
            <div class="card-header">
                <h5 class="text-center">
                  Sistema de dado FORD
                </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><p class="text-primary">Seja bem vindo (a)!</p>
                   Built Ford Tough <br>
                    <br>Não encontro defeitos. Encontro soluções. Qualquer um sabe queixar-se.
                </h5>
            </div>
        </div>
    </div>
</div>
